<header>
  <span>Ma Liste </span>
  <span><a href="#/recipe">Recettes</a></span>
</header>

<button type="button" ng-click="deleteList()">Effacer ma liste</button>

<div class="addToList">
  <form id="add-form">
    <input type="text" placeholder="Recette" id="title" ng-model="title">
    <input type="number" placeholder="Nombre de personnes" ng-model="number"></br>
    <input type="text" placeholder="Article" ng-model="article">
    <button type="button" ng-click="addToList()" class="icon-plus"></button>
  </form>
</div>

<span>Ma liste de course</span>

<div class="list">
  <div class="element"  ng-repeat="e in list track by $index">
    <span ng-class="{'striked: !checked[$index]'}">{{e.name}}</span>
    <span>{{e.quantity}}</span></br>
    <button type="button" ng-click="checkElement($index)" ng-if="!checked[$index]" class="icon-checkmark2"></button>
    <button type="button" ng-click="uncheckElement($index)" ng-if="checked[$index]" class="icon-undo2"></button>
    <button type="button" ng-click="deleteElement($index)" class="icon-cancel-circle"></button>
  </div>
</div>
