<header>
  <span><a href="#/list">Ma Liste</a></span>
  <span>Recettes</span>
</header>

<div class="addRecipe">
  <form>
    <input type="text" placeholder="Titre" ng-model="title">
    <input type="number" placeholder="Nombre de personnes" ng-model="number" id="person">
    <div class="addingredient" ng-repeat="f in forms track by $index">
      <form>
        <input type="text" ng-model="f.ingredient" placeholder="Ingrédient">
        <input type="number" ng-model="f.quantity" placeholder="Quantité" id="person">
        <input type="text" ng-model="f.unit" placeholder="Unité">
      </form>
    </div>
    <button type="button" ng-click="addIngredient()" class="icon-plus"></button>
    <button type="button" ng-click="addRecipe()">AJOUTER LA RECETTE</button>
  </form>
</div>

<span id="list">MA LISTE DE RECETTES</span>

<div id="research">
  <input type="text" ng-model="search">
  <span class="icon-search"></span>
</div>

<div class="list">
  <div class="recipe" ng-repeat="r in recipe track by $index" ng-if="lookFor(r.title)">
    <span >{{r.title}}</span></br>
    <div class="button">
    <button type="button" ng-click="showRecipe($index)" ng-if="!showIngredients[$index]">VOIR </button>
    <button type="button" ng-click="editRecipe($index)" ng-if="!editR[$index]">MODIFIER</button>
    <button type="button" ng-click="deleteRecipe($index)">SUPPRIMER</button></br>
    </div>


    <div id="options">
    <button type="button" ng-click="addIngredientToRecipe($index)" ng-if="editR[$index]">AJOUTER UN INGREDIENT</button>
    <button type="button" ng-click="hide($index)" ng-if="showIngredients[$index] || editR[$index]">RETOUR</button>
    </div>

    <div class="addingredient" ng-repeat="a in add track by $index" ng-if="addI[$parent.$index]">
      <form>
        <input type="text" ng-model="a.ingredient" placeholder="Ingrédient">
        <input type="number" ng-model="a.quantity" placeholder="Quantité">
        <input type="text" ng-model="a.unit" placeholder="Unité">
      </form>
    </div>
    <button type="button" ng-click="addToR($index)" ng-if="addI[$index]" class="addingredient">VALIDER</button>

    <div class="ingredient" ng-repeat="i in r.ingredients track by $index" ng-if="showIngredients[$parent.$index]">
    <span>{{i.ingredient}}  {{i.quantity}} {{i.unit}}</span>
    </div>

    <div class="ingredient" ng-repeat="i in r.ingredients track by $index" ng-if="editR[$parent.$index] && !editI[$parent.$index][$index]">
    <span>{{i.ingredient}}  {{i.quantity}} {{i.unit}}</span>
    <button type="button" ng-click="editIngredient($parent.$parent.$index,$index)">MODIFIER L'INGREDIENT</button>
    <button type="button" ng-click="deleteIngredient($parent.$parent.$index,$index)">SUPPRIMER L'INGREDIENT</button>
    </div>

    <div class="ingredient" ng-repeat="i in r.ingredients track by $index" ng-if="editI[$parent.$index][$index] && editR[$parent.$index]">
    <form>
      <input type="text" ng-model="i.ingredient" placeholder={{i.ingredient}}>
      <input type="number" ng-model="i.quantity" placeholder={{i.quantity}}>
      <input type="text" ng-model="i.unit" placeholder="{{i.unit}}">
    </form>
    <button type="button" ng-click="validate($parent.$parent.$index,$index)">Valider</button>
    </div>

  </div>
  </div>

</div>
