<header>
  <span><a href="#/list">Ma Liste</a></span>
  <span>Recettes</span>
</header>

<div class="addRecipe">
  <form>
    <input type="text" placeholder="Titre" ng-model="title">
    <input type="number" placeholder="Nombre de personnes" ng-model="number">
    <div class="addingredient" ng-repeat="f in forms track by $index">
      <form>
        <input type="text" ng-model="f.ingredient" placeholder="Ingrédient">
        <input type="number" ng-model="f.quantity" placeholder="Quantité">
        <input type="text" ng-model="f.unit" placeholder="Unité">
      </form>
    </div>
    <button type="button" ng-click="addIngredient()" class="icon-plus"></button>
    <button type="button" ng-click="addRecipe()">Ajouter la recette</button>
  </form>
</div>

<span>Ma liste de recettes</span>

<div>
  <input type="text" ng-model="search">
  <button type="button" ng-click="lookFor(search)" class="icon-search"></button>
</div>

<div class="list" ng-if="showAll">
  <div class="recipe" ng-repeat="r in recipe track by $index">
    <span>{{r.title}}</span>
    <button type="button" ng-click="showRecipe($index)" ng-if="!showIngredients[$index]">Voir </button>
    <button type="button" ng-click="editRecipe($index)" ng-if="!editR[$index]">Modifier</button>
    <button type="button" ng-click="deleteRecipe($index)">Supprimer</button></br>
    <button type="button" ng-click="addIngredientToRecipe($index)" ng-if="editR[$index]">Ajouter un ingrédient</button>
    <button type="button" ng-click="hide($index)" ng-if="showIngredients[$index] || editR[$index]">Retour</button>

    <div class="addingredient" ng-repeat="a in add track by $index" ng-if="addI[$parent.$index]">
      <form>
        <input type="text" ng-model="a.ingredient" placeholder="Ingrédient">
        <input type="number" ng-model="a.quantity" placeholder="Quantité">
        <input type="text" ng-model="a.unit" placeholder="Unité">
      </form>
    </div>
    <button type="button" ng-click="addToR($index)" ng-if="addI[$index]">Valider</button>

    <div class="ingredient" ng-repeat="i in r.ingredients track by $index" ng-if="showIngredients[$parent.$index]">
    <span>{{i.ingredient}}  {{i.quantity}} {{i.unit}}</span>
    </div>

    <div class="ingredient" ng-repeat="i in r.ingredients track by $index" ng-if="editR[$parent.$index] && !editI[$index]">
    <span>{{i.ingredient}}  {{i.quantity}} {{i.unit}}</span>
    <button type="button" ng-click="editIngredient($index)">Modfier l'ingrédient</button>
    <button type="button" ng-click="deleteIngredient($parent.$index,$index)">Supprimer l'ingrédient</button>
    </div>

    <div class="ingredient" ng-repeat="i in r.ingredients track by $index" ng-if="editI[$index]">
    <form>
      <input type="text" ng-model="i.ingredient" placeholder={{i.ingredient}}>
      <input type="number" ng-model="i.quantity" placeholder={{i.quantity}}>
      <input type="text" ng-model="i.unit" placeholder="{{i.unit}}">
    </form>
    <button type="button" ng-click="validate($index)">Valider</button>
    </div>

  </div>




</div>

<div class="research" ng-if="!showAll">
  <button type="button" ng-click="goBack()" class="icon-undo2"></button>
  <div ng-repeat="r in searched track by $index">
    <span>{{r.title}}</span>
    <button type="button" ng-click="showRecipe()">Voir </button>
    <button type="button" ng-click="editRecipe()">Modifier</button>
    <button type="button" ng-click="deletRecipe">Supprimer</button>
  </div>

</div>
